{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 2%"
          ],
          "uglify": true
        }
      }
    ]
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "helpers": false
      }
    ],
    "lodash"
  ]
}