html {
  height: 100%;
}

body, .wrapper, .main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body, .wrapper {
  min-height: 100%;
}

.wrapper, .main-container {
  min-width: 0;
}

body {
  overflow-y: scroll;
  flex-direction: row;
}

.aside-navbar-vertical, .wrapper {
  position: relative;
}

.main {
  flex-direction: row;
}

.main-container {
  @extend .container;
  @extend .py-4;
}

.col-flexible {
  .main-container & {
    @extend .col-12;
  }

  .main-container[min-width~="#{breakpoint-min('sm')}"] & {
    @extend %grid-column;
    @include make-col(6);
  }

  .main-container[min-width~="#{breakpoint-min('md')}"] & {
    @extend %grid-column;
    @include make-col(4);
  }
}

.fixed-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fixed-top-right {
  position: fixed;
  top: 0;
  right: 0;
}

.line-height-1 {
  line-height: 1;
}