html {
  height: 100%;
}

body, .wrapper, .main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body {
  min-height: 100%;
  overflow-y: scroll;
}

.aside-navbar-vertical, .wrapper {
  position: relative;
}

.main {
  flex-direction: row;
}

.main-container {
  @extend .container;
  @extend .py-4;
}

.col-flexible {
  .main-container & {
    @extend .col-12;
  }

  .main-container[min-width~="#{breakpoint-min('sm')}"] & {
    @extend %grid-column;
    @include make-col(6);
  }

  .main-container[min-width~="#{breakpoint-min('md')}"] & {
    @extend %grid-column;
    @include make-col(4);
  }
}