.footer {
  /* Set the fixed height of the footer */
  height: $footer-height;
  background-color: $footer-background;
  color: $footer-color;

  .footer-inner {
    @extend .container, .d-flex, .align-items-center;
    height: 100%;
  }
}