/**
 * Adds breakpoints to $grid-breakpoints map with a certain offset to original breakpoints and with
 */
@function _grid-breakpoints-offset($name, $offset-value, $grid-breakpoints-original) {
  $new-map: ();

  @each $key, $value in $grid-breakpoints-original {
    $new-key: $key + '-' + $name;

    @if ($value + $offset-value >= 0) {
      $new-map: map-merge($new-map, ($new-key: $value + $offset-value));
    }
  }

  @return $new-map;
}

@function map-merge-all($maps...) {
  $new-map: ();
  @each $map in $maps {
    $new-map: map-merge($new-map, $map);
  }

  @return $new-map;
}