// navbar icons
.navbar a svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// vertical navbar
.navbar-vertical {
  flex-direction: column;
  flex-shrink: 0;
  width: $v-nav-width;
  padding: $navbar-padding-y $navbar-padding-x;

  .navbar-brand {
    margin-right: 0;
    margin-bottom: $navbar-padding-x;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav-fixed-bottom, .navbar-nav-fixed-top {
    position: fixed;
    left: 0;
    width: $v-nav-width;
    padding: $navbar-padding-y $navbar-padding-x;

    a, .nav-link {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .navbar-nav-fixed-top {
    top: 0;
  }

  .navbar-nav-fixed-bottom {
    bottom: 0;
  }
}

.aside-navbar-vertical {
  margin-left: $v-nav-width;
}

// vertical sub navigation
.content-navigation {
  flex-shrink: 0;
  position: relative;
  z-index: 100;
  @extend .bg-light;
  flex-direction: column;
  width: $v-nav-broad-width;
  border-right: $content-navigation-border;

  .nav .nav-link {
    color: $gray-700;
  
    &:not([disabled]):hover {
      color: $gray-900;
    }

    &.active {
      color: $black;
    }
  }
}

.content-navigation-inner {
  position: fixed;
  width: $v-nav-broad-width;
  top: 0;

  & > * {
    position: relative;
  }
}

@include media-breakpoint-down('sm') {

  .navigation-shown {
    flex-direction: column;
  }

  .content-navigation-container {
    overflow: visible;
    width: 100%;
  }

  .content-navigation {
    width: 100%;
    border: none;
    border-bottom: $content-navigation-border;
    height: auto;
  }

  .content-navigation-inner {
    position: relative;
    width: 100%;
  }
}

// margins to not overlap navbar
.avoid-navbar-top {
  margin-top: $navbar-padding-y*2 + $nav-link-padding-y*2 + $navbar-icon-scale;
}

.avoid-navbar-left {
  margin-left: $v-nav-width;
}