// navbar icons
.navbar a svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// vertical navbar
.navbar-vertical {
  flex-direction: column;
  flex-shrink: 0;
  width: $v-nav-width;
  padding: $navbar-padding-y $navbar-padding-x;

  .navbar-brand {
    margin-right: 0;
    margin-bottom: $navbar-padding-x;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav-fixed-bottom, .navbar-nav-fixed-top {
    position: fixed;
    left: 0;
    width: $v-nav-width;
    padding: $navbar-padding-y $navbar-padding-x;

    a, .nav-link {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .navbar-nav-fixed-top {
    top: 0;
  }

  .navbar-nav-fixed-bottom {
    bottom: 0;
  }
}

.aside-navbar-vertical {
  margin-left: $v-nav-width;
}

// vertical sub navigation
.content-navigation {
  @extend .bg-light;
  flex-direction: column;
  flex-shrink: 0;
  width: $v-nav-broad-width;
  border-right: $content-navigation-border;

  .content-navigation-inner {
    position: fixed;
    @extend .mx-auto;
  }
}

// margins to not overlap navbar
.avoid-navbar-top {
  margin-top: $navbar-padding-y*2 + $nav-link-padding-y*2 + $navbar-icon-scale;
}

.avoid-navbar-left {
  margin-left: $v-nav-width;
}