// Footer
$footer-height: 60px;
$footer-color: rgba($black, .5);
$footer-background: $light;

// Vertical navigation
$v-nav-width: 60px;

$v-nav-broad-width: $v-nav-width*5;

// Navbar
$navbar-padding-y: $spacer * .75;
$navbar-icon-scale: 1.125rem;

//
$content-navigation-border: rgba($black, .125) solid 1px;

// Buttons
$btn-floating-size: 52px;
$btn-floating-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
$btn-floating-margin: 16px;