.btn-floating {
  @extend .rounded-circle;
  margin: 0 $btn-floating-margin $btn-floating-margin 0;
  width: $btn-floating-size;
  height: $btn-floating-size;
  overflow: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1020;
  box-shadow: $btn-floating-shadow;

  & > * {
    width: 100%;
  }

  .badge {
    position: absolute;
    border-radius: 50%;
    display: block;
    top: -5px;
    right: -5px;
    width: 22px;
    height: 22px;
    transform-origin: center;

    & > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

//carousel
.carousel-indicators > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex: 0 0 auto;
}

.btn-link-gray {
  color: $gray-700;

  &:not([disabled]):hover {
    color: $gray-900;
  }
}

.btn-icon {
  line-height: 1;
}

.card-header .btn-wrapper {
  margin: #{-1*$btn-padding-y} #{-1*$btn-padding-x};
}

a.no-decoration:hover {
  text-decoration: none;
}

// dropdown
.dropdown-item {
  display: flex;
  align-items: center;
}